/*fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Cabin:wght@400..700&family=Victor+Mono:wght@100..700&display=swap');

:root{
    --background-main-gradient: #eae1e8 /*linear-gradient(-45deg, #091026, #241C59)*/;
    --default-font: "Cabin", sans-serif;
    --default-color: #dfdfdf;
}

*,
*:after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--background-main-gradient);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: var(--default-font);
    color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframe gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: #221e3e;
}

.tittle{
    text-decoration: none;
    transition: color 0.5s;
}

.tittle:active, .tittle:visited{
    color: var(--default-color);
}

.tittle:hover{
    /*text-decoration: underline 1px;*/
    color: #ffffff;
}

.navigation{
    width: 100%;
    height: 20px;
    position: fixed;
    top:50px;
    background-color: #C7ADD9;
    padding-left: 20px;
    color: #000641;
}

.nav-link{
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:any-link, .nav-link:visited{
    color: #000641;
}

.nav-link:hover{
    text-decoration: underline 1px;
    color: #0515a7;
}

/*to show content on the page*/
.header-blank{
    width: 100%;
    height: 80px;
}

.dashboard{
    width: calc(100% - 40px);
    background-color: #221e3e;
    border-radius: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.actions{
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.search-input{
    width: 400px;
    height: 50px;
    border: solid #dfdfdf 1px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: var(--default-font);
    font-size: 1.2rem;
    background-color: #eae1e8;
    position: relative;
}

.search-input::placeholder{
    color: #919191;
    font-size: 1.2rem;   
}

.search-input:hover::placeholder{
    color: #a0a0a0;
}

.input-list{
    width: 400px;
    position: absolute;
    top: 165px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-color: #C7ADD9;
    border: 1px solid #000641;
    border-radius: 0 0 5px 5px;
}

.hide-opt{
    display: none;
}

.highlight-opt{
    font-weight: bolder;
    font-size: 1.22rem;
    color: #000000;
}

.show-opt:hover .highlight-opt{
    color: #ffffff;
}

.show-opt{
    font-size: 1.2rem;
    font-weight: 500;
    color: #1e0041;
    font-family: var(--default-font);
    padding: 10px 0 10px 10px;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.show-opt:hover{
    background-color: #00042c;
    color: #dcbef1;
}

.btn{
    width: 150px;
    height: 50px;
    border: solid #1d0020 1px;
    border-radius: 5px;
    background-color: #f9dfff;
    color: #2f1c36;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover{
    background-color: #fcefff;
    color: #2f1c36;
}
