/*fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Cabin:wght@400..700&family=Victor+Mono:wght@100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root{
    --background-main-gradient: linear-gradient(-45deg, #eae1e8, #e6d2e2, #ffe6fa, #f9daf2, #e9d1e3);
    --default-font: "Cabin", sans-serif;
    --default-color: #dfdfdf;
    --title-font: "Fira Code", monospace;
}

*,
*:after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--background-main-gradient);
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
    font-family: var(--default-font);
    color: var(--default-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframe gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: #221e3e;
    z-index: 2;
}

.tittle{
    text-decoration: none;
    transition: color 0.5s;
}

.tittle:active, .tittle:visited{
    color: var(--default-color);
}

.tittle:hover{
    /*text-decoration: underline 1px;*/
    color: #ffffff;
}

.navigation{
    width: 100%;
    height: 20px;
    position: fixed;
    top:50px;
    background-color: #C7ADD9;
    padding-left: 20px;
    color: #000641;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.nav-link{
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:any-link, .nav-link:visited{
    color: #000641;
}

.nav-link:hover{
    text-decoration: underline 1px;
    color: #0515a7;
}
/*to show content on the page*/
.header-blank{
    width: 100%;
    height: 80px;
}

.dashboard{
    width: calc(100% - 40px);
    background-color: #221e3e;
    border-radius: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    flex-wrap: wrap;
}

.dashboard-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.actions{
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.search-input{
    max-width: 500px;
    width: 500px;
    height: 50px;
    border: solid #dfdfdf 1px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: var(--default-font);
    font-size: 1.2rem;
    background-color: #eae1e8;
    position: relative;
}

.search-input::placeholder{
    color: #919191;
    font-size: 1.2rem;   
}

.search-input:hover::placeholder{
    color: #a0a0a0;
}

.input-list{
    max-width: 500px;
    width: 500px;
    max-height: 200px;
    position: absolute;
    top: 165px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background-color: #C7ADD9;
    border: 1px solid #000641;
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;
}

.input-list::-webkit-scrollbar{
    width: 7px;
}

.input-list::-webkit-scrollbar-thumb{
    background-color: #C7ADD9;
    border-radius: 20px;
    transition: all 0.5s;
}

.input-list::-webkit-scrollbar-thumb:hover{
    background-color: #9380a0;
}

.input-list::-webkit-scrollbar-track{
    background-color: transparent;
}

.hide-opt{
    display: none;
}

.highlight-opt{
    font-weight: bolder;
    font-size: 1.22rem;
    color: #000000;
}

.show-opt:hover .highlight-opt, .focused .highlight-opt{
    color: #ffffff;
}

.show-opt{
    font-size: 1.2rem;
    font-weight: 500;
    color: #1e0041;
    font-family: var(--default-font);
    padding: 10px 0 10px 10px;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.show-opt:hover, .focused{
    background-color: #00042c;
    color: #dcbef1;
}

.btn{
    width: 150px;
    height: 50px;
    border: solid #1d0020 1px;
    border-radius: 5px;
    background-color: #f9dfff;
    color: #2f1c36;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background 0.5s;
    cursor: pointer;
    display: block;
    flex-grow: 1;
}

.btn:hover{
    background-color: #fcefff;
    color: #2f1c36;
}

.btn:active{
    transform: scale(0.99);
}

.search-btn{
    background-color: #6e5ea8;
    color: #dbd1fe;    
}

.search-btn:hover, .search-btn:focus{
    background-color: #5c4a9e;
    color: #d5c9ff;
}

.search-btn:focus{
    border: 1px solid #ffffff;
}

.add-btn{
    background-color: #d7abd0;
    color: #98518a;
}

.add-btn:focus, .add-btn:hover{
    background-color: #ffc0f5;
    color: #642e5b;
}

.add-f-btn{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    align-items: center;
    min-width: 200px;
    background-color: #8C451C;
    color: #facfb7;
    cursor: pointer;
}

.add-f-btn:hover, .add-f-btn:focus{
    background-color: #853100;
    color: #fbeee7;

}

.light{
    color: #ffee00;
    font-size: 1.7rem;
    -webkit-text-stroke: 1px #000;
}

.notes{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.message{
    width:100%;
    max-height: 35px;
    display: flex;
    align-items: center;
}

.message-text{
    width: 100%;
    height: 100%;
    text-align: left;   
}

.full-notes{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.note{
    width: 400px;
    min-height: 200px;
    border-radius: 10px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    flex-grow: 1;
}

.note-green{
    background-color: #2b5656;
    color: #c7caca;
    border: 1px solid #003838;
}

.note-header-green{
    background-color: #014040;
    color: #c7caca;
}

.note-red{
    background-color: #fa5d6a;
    color: #ffeaea;
    border: 1px solid #ff0000;
}

.note-pink{
    background-color: #f841b8;
    border: 1px solid #e20093;
    color: #fee2f4;
}

.note-purple{
    background-color: #533472;
    color: #cb9afc;
    border: 1px solid #381c54;
}

.note-header-purple{
    background-color: #471A73;
    color: #cb9afc;
}

.note-blue{
    background-color: #2e1871;
    border: 1px solid #14004e;
    color: #b8b8b8;
}

.note-header-blue{
    background-color: #1A0E3E;
    color: #b8b8b8;
}

.note-header-pink{
    background-color: #F2059F;
}

.note-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.note-header-red{
    background-color: #f32e3e;
}

.note-orange{
    background-color: #e08c43;
    border: 1px solid #9e4a00;
    color: #ffe9d6;
}

.note-header-orange{
    background-color: #e2822e;
    color: #ffe9d6;
}

.note-yellow{
    background-color: #e7dc4c;
    color: #302e14;
}

.note-header-yellow{
    background-color: #edde00;
    color: #302e14;
}

.note-yellow:hover{
    color: #000;
    background-color: #edde00;
}

.note-yellow:hover .note-header-yellow{
    color: #000;
    background-color: #ffee00;
}

.note-orange:hover {
    background-color: #e46b01;
    color: #fff;
}

.note-orange:hover .note-header-orange{
    color: #fff;
    background-color: #cd6000;
}

.note-title{
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.note-body{
    padding-left: 10px;   
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.note-content{
    font-size: 1.3rem;   
}

.note-options{
    border: #000000 1px solid;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    padding: 3px 5px;
    font-size: 0.9rem;
    background-color: #140626;
    color: #bf8eff;
    cursor: pointer;
    transition: all 0.5s;
}

.note-options:hover{
    background-color: #000000;
    color: #cfbce7;
}

.note-options:active{
    transform: scale(0.99);
}

.note-footer{
    padding-right:10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:right;
    font-size: 0.8rem;
}

.note-red:hover .note-header-red{
    color: #fff;
    background-color: #fc1f32;
}

.note-red:hover .note-header-pink{
    background-color: #f1009d;
}

.note-blue:hover{
    color: #fff;
    background-color: #1e046c;
}

.note-blue:hover .note-header-blue{
    color: #fff;
    background-color: #0d0036;
}

.note-pink:hover{
    color: #fff;
    background-color: #f822ad;
}

.note-purple:hover{
    color: #fff;
    background-color: #3d1b60;
}

.note-purple:hover .note-header-purple{
    color: #fff;
    background-color: #2f0b54;
}

.note:hover{
    transform: scale(1.02);
    transform: rotate(2deg);
}

.note-red:hover{
    color: #fff;
    background-color: #ff3f4f;
}

.note-green:hover{
    color: #fff;
    background-color: #114747;
}

.note-green:hover .note-header-green{
    color: #fff;
    background-color: #002c2c;
}

.note:active, note:focus{
    transform: scale(0.98);
    transform: rotate(-1deg);
    border: #000000 2px solid;
}

.add-note{
    background-color: #090524;
    font-weight: bolder;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    color: #6047ff;
    border: 2px solid #6047ff;
    transition: all 0.5s;
    user-select: none;
}

.add-note:hover{
    background-color: #040019;
    color: #b7acff;
    border: 2px solid #6047ff;
}

.add-note:active{
    transform: scale(0.99);
}

.message-to-cx{
    width: 300px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #F20519;
}

.message-text-to-cx{
    width: 100%;
    font-size: 1.3rem;
    color: #000;
    font-weight: 900;
}

.hidden{
    display: none;
}

@media screen and (max-width: 1157px){
    .search-input{
        min-width: 100%;
    }

    .dashboard-buttons{
        min-width: 100%;
        justify-content: space-between;
    }

    .notes{
        margin-top: 60px;
    }
}

@media screen and (max-width: 636px){
    .notes{
        margin-top: 100px;
    }   
}

@media screen and (max-width: 516px){
    .notes{
        margin-top: 180px;
    }

    .tittle{
        min-width: 160px;
    }

    .slogan{
        text-align: center;
        font-size: 0.9rem;
    }
}